*
{ 
    padding: 0;
    margin: auto auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

body
{
    background-color: #f5f5ec;
    color: #444;
}

nav
{
    background-color: darkred;
    color:#f5f5ec;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav li {
    float: right;
    width:160px;
    text-align: right;
}
  
nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    width:128px;
}
  
nav li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  
}
  
  li.dropdown {
    display: inline-block;
    width:160px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

footer
{
    background-color: #444;
    color:#f5f5ec;
}